<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>MSc in Medical Science</h1>
            <span>Kyoto University, Graduate School of Medicines</span>
            <span><address>Kyoto, Japan</address><time>2018 to 2020</time></span>
        </header>
        <p>
            <em>Thesis: Investigation of molecular mechanisms underlying cytotoxicity of ATR inhibitors</em>
        </p>
        <p>
            <em> Project: UBC13-Mediated Ubiquitin Signaling Promotes Removal of Blocking Adducts from DNA Double-Strand Breaks</em>
        </p>
    </article>
    <article>
        <header>
            <h1>BSc in Chemical Engineering</h1>
            <span>Kyoto University, Faculty of Engineering</span>
            <span><address>Kyoto, Japan</address><time>2014 to 2018</time></span>
        </header>
        <p>
            <em>Dissertation: Elucidation of mechanisms underlying the attenuation of histidine operon in hyper-thermophilic archaea Thermococcus kodakarensis</em>
        </p>
    </article>
</section>
