<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Heritage Space</h1>
            <span><address>Hanoi, Vietnam</address><time>2020 to 2021</time></span>
        </header>
        <p>Translation and interpretation, project support </p>
    </article>
    <article>
        <header>
            <h1>ECO Vietnam Group</h1>
            <span><address>Tra Vinh, Vietnam</address><time>2020</time></span>
        </header>
        <p>volunteer in a community library, class management</p>
    </article>
    <article>
        <header>
            <h1>Teaching</h1>
            <span><address>Kyoto University</address><time>2017, 2018</time></span>
        </header>
        <p> Vietnamese intensive classes for short-term exchanges students</p>
    </article>
    <article>
        <header>
            <h1>Ashinaga Program Kyotology</h1>
            <span><address>Kyoto</address><time>2015</time></span>
        </header>
        <p>Support foreign students to study about Japanese's culture</p>
    </article>
</section>
