<section class="thirteen columns">
    <h1>Initiatives</h1>
    <article>
        <header>
            <h1>LIMS Program</h1>
            <span><address>Kyoto University</address><time>2018 to 2020</time></span>
        </header>
        <p>
            Courses: Practice course at hospital
        </p>
    </article>
    <article>
        <header>
            <h1>Kyoto International Student House HdB</h1>
            <span><address>Kyoto, Japan</address><time>2018 to 2020</time></span>
        </header>
        <p>
            Team secretary, Event planning and management.
        </p>
    </article>
</section>
